body {
    font-family: 'Roboto', sans-serif; padding-top: 1rem;
}

#title {
    text-align: center;
}

#title h1 {
    letter-spacing: 7px;
}

#title h4 {
    letter-spacing: 5px;
    font-weight: 100;
}

#options {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    z-index: 1;
}

#options div {
    text-align: center;
}

#authors {
   z-index: 10; font-size: smaller; position: fixed; top: 30; right: 30; display: flex; text-align: end; justify-content: flex-end; flex-direction: column;
}

#vis {
    text-align: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
}

.dashboard {
    width: 290px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    padding: 20px;
}

.mini-dashboard{
    flex-direction: column;
}

.dashboard-stat{
    display: flex;
    flex-direction: row;
}