body {
    font-family: 'Roboto', sans-serif; padding-top: 1rem;
}

#title {
    text-align: center;
}

#title h1 {
    letter-spacing: 7px;
}

#title h4 {
    letter-spacing: 5px;
    font-weight: 100;
}

#options {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    z-index: 1;
}

#options div {
    text-align: center;
}

#toolbar {
    position: fixed; bottom: 30px; right: 30px; display: flex; flex-direction: column;
}

#authors {
   z-index: 10; font-size: smaller; position: fixed; top: 30; right: 30; display: flex; text-align: end; justify-content: flex-end; flex-direction: column;
}

#vis {
    text-align: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
}

.dashboard {
    display: flex;
    position: absolute;
    font-size: smaller;
    border-radius: 10px;
    background: rgba(240, 237, 237, 0.199);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    flex-direction: row;
}

.dashboard div {
    margin-bottom: 5px;
}

.grid-dashboard{

    bottom: 15px;
    left: 15px;
}

.bill-dashboard{

}

.dashboard-section-spacer {
    width: 20px;
}

.dashboard-stat{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.dashboard-stat-label {
    font-size: smaller;    
    font-weight: 100;
}

.hidden-until-init {
    display: none !important;
}

#node-tooltip {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 200px;
    display: none;
}